.main-image {
	width: 100vw;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background {
	width: 100vw;
}

.peek {
	color: white;
	padding: 5px;
	font-size: 8vh;
	display: flex;
	justify-content: center;
}

.peekLink {
	background-color: black;
	border-radius: 20%;
	padding: .25vw;

}

.aboutUs {
	margin-left: 7vw;
	font-size: 4vh;
}

.para {
	width: 70vw;
	font-size: 2vh;
}

@media only screen and (max-width: 600px) {
	.peek {
		font-size: 5vw;
	}
}

