.main-image {
	width: 100vw;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background {
	width: 100vw;
}

.peek {
	color: white;
	text-decoration: none;
	background-color: black;
	padding: 5px;
	margin-left: 40vw;
	border-radius: 20%;
	font-size: 4vh;
	width: 20vw;
	display: flex;
	justify-content: center;
}

.aboutUs {
	margin-left: 7vw;
	font-size: 4vh;
}

.para {
	width: 70vw;
	font-size: 2vh;
}

@media only screen and (max-width: 600px) {
	.peek {
		font-size: 3vh;
	}
}

