.nav {
	background-color: black;
	color: white;
	height: 8vh;
	position: fixed;
 	top: 0; 
 	width: 100vw;
 	display: flex;
 	justify-content: space-between;
 	align-content: center;

}

.options {
	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
 	justify-content: center;
 	align-content: center;
 	font-size: 4vh;
 	margin-right: 2vw; 	
  }


.link {
	color: #FFFFFF;
    text-decoration: none;
}

li {
	margin: 10px;
}

#title {
	height: 5vh;
	letter-spacing: 4px;
	border: solid 2px white;
	text-align: center;
	font-size: 5vh;
	display: flex;
	align-items: center;
	margin-left: 2vw;
	margin-top: 1vh;
	
}

.logo {
	height: 7vh;
	background-color: white;
	margin-top: .75vh;
}

.navlogo {
	height: 6vh;
}